.character.atk {
  animation: atk .5s linear;
}

.character.rev.atk {
  animation: atkrev .5s linear;
}

.upAndDown {
  animation: kfUpAndDown 2s linear infinite alternate;
}
.popup{
  animation: popup 0.5s;
}
.fadeInOut{
  animation: fadeInOut 1s;
}

@keyframes atk {
  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(5em,0);
  }

  100% {
    transform: translate(0,0);
  }
}

@keyframes atkrev {
  0% {
    transform: scaleX(-1) translate(0,0);
  }

  50% {
    transform: scaleX(-1) translate(5em,0);
  }

  100% {
    transform: scaleX(-1) translate(0,0);
  }
}

@keyframes kfUpAndDown {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(0,1em);
  }
}

@keyframes fadeInOut {
    0%{
      opacity: 0
    }

    40%{
      opacity: 1
    }

    60%{
      opacity: 1
    }

    100%{
      opacity: 0
    }
}

@keyframes popup {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  60%{
    transform: scale(1.05);
  }
  70%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
